
.trafficlight {


    flex-direction: column; /* Arrange children (circles) in a column */
    align-items: center;    /* Optional: Center the circles horizontally */
    gap: 10px;              /* Optional: Add space between circles */
    background-color: black;
    display: inline-block;
    padding: 30px;
   
}


.light {


    width: 100px;            /* Sets the width of the circle */
    height: 100px;           /* Sets the height of the circle */
    border-radius: 50%;      /* Makes the div appear as a circle */
    background-color: blue;
  
}

.red {

    background-color: red;
}
.yellow {

    background-color: yellow;
}
.green {

    background-color: greenyellow;
}

.glowing-circle {
   
    box-shadow: 0 0 20px 5px rgba(252, 252, 255, 0.7);
  }

